
:root{
    --primary-color:#FF5400;
    --secondary-color:#131318;
    --font-weight-1:900;
    --font-weight-2:800;
    --font-weight-3:700;
    --font-weight-4:400;
}
footer{
    margin:60px 140px;
}

.footer-header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer-description{
    width:600px;
    margin:20px auto;
    text-align: center;
}
.footer-icon{
    display: flex;
    justify-content: center;
    margin:20px auto;
    align-items: center;
}
.footer-last{
    display: flex;
    justify-content: center;
    margin:60px auto;
    text-align: center;
}

@media screen and (max-width:600px){

    footer{
        margin:0px
    }
    .footer-description{
        width:320px
        
    }
}